@import './variables';

.header {
  font-family: $gramatikaRegular;
  margin-bottom: 32px;
  letter-spacing: 0.06em;

  &__burger {
    width: 40px;
    height: 10px;
    position: relative;
    margin-right: 40px;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      width: 40px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: 0;
    }

    &::before {
      content: '';
      display: block;
      width: 40px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: 9px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 57px;
    position: relative;
  }

  &__language {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    transition: color .3s;

    &:after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: url('../images/header/CaretDown.svg') no-repeat;
      position: absolute;
      left: 26px;
      top: 0;
    }

    &:hover {
      color: $hover;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-right: 24px;
  }

  &__navbar {
    display: flex;
    margin: 0;
    padding: 0;
    justify-self: center;
    justify-content: space-between;

    & > li {
      list-style-type: none;

      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

  &__navbar_hidden {
    display: none;
    margin: 0;
    padding: 0;
    justify-self: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 57px;
    transform: translate(-50%, 0);
    max-width: 320px;
    width: 100%;
    background-color: rgb(218, 218, 218);
    border-radius: 20px;

    & > li {
      list-style-type: none;
      padding: 10px 0;
      text-align: center;
    }
  }

  &__burger-menu {
    display: none;
    color: #fff;
    font-family: $gramatikaRegular;
    font-size: 14px;
    font-weight: 400;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: url('../images/header/CaretDown.svg') no-repeat;
      position: absolute;
      left: 48px;
      top: -1px;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
    font-family: $gramatikaRegular;
    font-size: 14px;
    font-weight: 400;
    padding: 18px 10px;
    border-bottom: 1px solid transparent;
    transition: .4s;

    &:hover {
      border-bottom: 1px solid $hover;
      border-radius: 10px;
    }
  }

  &__search {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: $gramatikaRegular;
    position: relative;
    white-space: pre-wrap;
    margin-left: 10px;
    transition: color .3s;

    &:after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: url('../images/header/zoom-out.svg') no-repeat;
      position: absolute;
      left: 94px;
      top: 2px;
    }
    
    &:hover {
      color: $hover;
    }
  }

  @media screen and (max-width: 1024px) {
    &__link,
    &__language,
    &__search {
      font-size: 12px;
    }

    &__navbar > li {
      margin-right: 0 !important;
    }

    &__link {
      padding: 18px 6px;
    }

    &__search:after {
      left: 83px;
      top: 1px;
    }

    &__burger {
      margin-right: 20px;
    }

    &__language:after {
      top: -2px;
    }
  }

  @media screen and (max-width: 768px) {
    &__navbar {
      display: none;
    }

    &__burger-menu {
      display: inline;
    }

    &__link {
      color: #000;
      font-size: 16px;
      padding: 10px 6px;
    }
  }

  @media screen and (max-width: 425px) {
    &__search {
      display: none;
    }

    &__burger-menu {
      margin-right: 24px;
    }
  }
}

.active-flex {
  display: flex;
}